<script type="text/javascript" src="js/jcr.js"></script>
<script type="text/javascript" src="js/upload.js"></script>

<script type="text/javascript">
node = {
	pid: '$parent.identifier' 	
}
function createNode() {
	jcr.createNode('save', node, null, function() {
		document.location.href='$ctx.siteUrl/admin/browse.do';
	});
}
</script>
<form action="createNode.do" method="post">
	<table width="600px">
		<tr>
		<tr>
			<td>Parent:</td>
			<td> $parent.name </td>
		</tr>
			<td valign="top">Node Type:</td>
			<td> 
			<table width="400px" height="30px" border="0" cellpadding="0" cellspacing="0">
			<tr>
			<td valign="top">
			<select name="type" onchange="jcr.onTypeChange(this)">
				<option>nt:unstructured</option>
				<option>nt:folder</option>
				<option>nt:file</option>
			</select>
			</td>
			<td valign="top">
				<div id="upload-file" style="display: none;">
				</div>
			</td>
			</tr>
			</table>
			<script type="text/javascript">
				upload.createFrame(document.getElementById('upload-file'), function(r) {
					node.fileName = r.fileName;
					node.mime = r.contentType;
					$('#nodeNameTxt').val(node.fileName);
				});
			</script>
			</td>
		</tr>
		<tr>
			<td>Node Name:</td>
			<td> <input id="nodeNameTxt" type="text" name="name" /> </td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<div id="props"></div>
				<input type="button"  value="Add Property" onclick="jcr.addProp('props')"/>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<input type="button"  value="Cancel" onclick="jcr.cancelCreateNode()" />
				<input type="button"  value="Save" onclick="createNode()"/>
			</td>
		</tr>
	</table>
</form> 