<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>$this.name</title>
	<base href="$ctx.base" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<meta name="author" content="$!this.author" />
	<link rel="stylesheet" href="$ctx.siteUrl/css/style.css" type="text/css" />
	 
	<meta name="keywords" content="$!this.keywords" /> 
	<meta name="description" content="$!this.description" />
	
	#foreach($css in $ctx.get('head:css'))
	<link rel="stylesheet" href="$ctx.siteUrl/$css" type="text/css" media="screen" />
	#end
	
	#foreach($script in $ctx.get('head:scripts'))
	<script src="$ctx.siteUrl/$script" type="text/javascript"></script>
	#end
</head>
<body>
	<div id="page">
		<div id="content" style="width:800px; margin: 0 auto;">
			<div style="border: solid green 1px; padding: 10px">
			<div style="font-size: 11px; text-align: right;">
				<b>Path: </b> $this.absPath
				#parse('fragments/admin.edit.links.html')
			</div>
				${BODY}
			</div>
		</div>
	</div>
</body>
</html>