#regionA{
	width:635px;
	float:left;
	height:1478px;
}

#regionA #region-top         { width:635px; height:15px;  }
#regionA #region-top-begin   { width:25px; height:15px;    background:url(../images/theme/region-top-begin.png)  no-repeat;           float:left;}
#regionA #region-top-end     { width:610px; height:15px;   background:url(../images/theme/region-top-end.png)    no-repeat 100% 0px;  float:left;}

#regionA #region-left    { width:14px;   height:1400px; background:url(../images/theme/region-left.png)  repeat-y; float:left;}
#regionA #region-main    { width:607px;  height:1400px; background:url(../images/theme/regionA1-main.png)  repeat-x; float:left;}
#regionA #region-right   { width:14px;   height:1400px; background:url(../images/theme/region-right.png) repeat-y; float:left;}
#regionA #region-down    { width:635px; height:25px;   }
#regionA #region-down-begin    { width:25px;  height:25px;  background:url(../images/theme/region-down-begin.png)  no-repeat;           float:left;}
#regionA #region-down-end      { width:610px; height:25px;  background:url(../images/theme/region-down-end.png)    no-repeat 100% 0px;  float:left;}
#regionA #region-content { width:635px; }

#regionB{
    width:350px;
    float:right;
}

#regionB #region-top           { width:313px; height:15px;  }
#regionB #region-top-begin     { width:25px;  height:15px;   background:url(../images/theme/region-top-begin.png)   no-repeat;           float:left;}
#regionB #region-top-end       { width:288px; height:15px;   background:url(../images/theme/region-top-end.png)     no-repeat 100% 0px;  float:left;}
#regionB #region-left          { width:14px;  height:863px;  background:url(../images/theme/region-left.png)        repeat-y;            float:left;}
#regionB #region-main          { width:285px; height:863px;  background:url(../images/theme/regionB1-main.png)      repeat-x;            float:left;}
#regionB #region-right         { width:14px;  height:863px;  background:url(../images/theme/region-right.png)       repeat-y;            float:left;}
#regionB #region-down          { width:313px; height:25px;   }
#regionB #region-down-begin    { width:25px;  height:25px;   background:url(../images/theme/regionB-down-begin.png)  no-repeat;           float:left;}
#regionB #region-down-end      { width:288px; height:25px;   background:url(../images/theme/regionB-down-end.png)    no-repeat 100% 0px;  float:left;}
#regionB #region-content       { width:313px; }

.right-panel-inner {    padding: 0 15px 0 16px;}