/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	/*background-color:#FFF;*/
	
	/*width:675px;*/
	min-height:200px;
	/*border:1px solid #FFF;*/
	
	/* CSS3 styling for latest browsers */
	/*-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	*/
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background: url("../images/theme/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    z-index: 40;
}
.thankyou-popupbox .close{
    background:url("../images/theme/close1.png") no-repeat;
    width:16px;
    height:16px;
    top:32px;
    right:32px;
}
.simple_overlay h3{
    margin:5px 0;
    font-size:22px;
    font-weight:normal;
}
.simple_overlay p{
    color:#666;
    font-size:14px;
    margin:0;
    padding:20px 0;
}
#view_thanks_registering{
	width:807px;
}
#view_thanks_registering .split{
    height:1px;
    margin:10px -33px 26px;
    border-top:1px solid #CCC;
}

#view_thanks_registering .bottom{
    width:807px;
    height:43px;
    background:url("../images/theme/light-box1-bottom.png") no-repeat;
}

#view_thanks_registering .top{
    width:807px;
    height:43px;
    background:url("../images/theme/light-box1-top.png") no-repeat;
}

#view_thanks_registering .body{
    padding:0 52px 20px;
    background:url("../images/theme/light-box1-body.png") repeat-y;
    min-height:200px;
	width:703px;    
}

#view_thanks_registering a{
    color:#3db7e4;
    text-decoration:underline;
}
#view_thanks_registering ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
#view_thanks_registering ul li{
    margin:5px 0;
}

#view_thanks_registering{
	width:807px;
}
#view_thanks_registering .split{
    height:1px;
    margin:10px -33px 26px;
    border-top:1px solid #CCC;
}

.client-popupbox{    
}
.client-popupbox .bottom{
    width:807px;
    height:43px;
    background:url("../images/theme/light-box1-bottom.png") no-repeat;
}

.client-popupbox .top{
    width:807px;
    height:43px;
    background:url("../images/theme/light-box1-top.png") no-repeat;
}

.client-popupbox .body{
    padding:0 52px 20px;
    background:url("../images/theme/light-box1-body.png") repeat-y;
    min-height:200px;
	width:703px;    
}

.client-popupbox a{
    color:#3db7e4;
    text-decoration:underline;
}
.client-popupbox ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.client-popupbox ul li{
    margin:5px 0;
}

.main-popupbox{    
}
.main-popupbox .top{
    padding-left:40px;
    background:url("../images/theme/pop1-left-head.png") no-repeat 0 0;
}
.main-popupbox .top .inner{
    height:39px;
    background:url("../images/theme/pop1-right-head.png") no-repeat 100% 0;
}
.main-popupbox .body{
    padding-left:40px;
    background:url("../images/theme/pop1-left-body.png") repeat-y;
    *height:100%;
    
}
.main-popupbox .body .inner{
    padding-right:40px;
    background:url("../images/theme/pop1-right-body.png") repeat-y 100% 0;
    *height:100%;
}
.main-popupbox .bottom{
    padding-left:40px;
    background:url("../images/theme/pop1-left-bottom.png") no-repeat 0 0;
}
.main-popupbox .bottom .inner{
    height:39px;
    background:url("../images/theme/pop1-right-bottom.png") no-repeat 100% 0;
}
.main-popupbox h3{
    margin-top:0;
    font-size:22px;
    color:#693e6e;
    margin-bottom:25px;
}

#add-appointment-panel, #add-note-panel, #edit-note-panel, #add-followup-panel{
    width:556px;    
}

#add-appointment-panel .selector1, #add-note-panel .selector1 , #edit-note-panel .selector1, #add-followup-panel .selector1{
    margin:22px 0;
}
#add-appointment-panel .selector1 select, #add-note-panel .selector1 select, #edit-note-panel .selector1 select, #add-followup-panel .selector1 select{
    color:#693e6e;
    padding:2px 5px;
}
#add-appointment-panel .selector1 .left,  #add-note-panel .selector1 .left , #edit-note-panel .selector1 .left, #add-followup-panel .selector1 .left{
    display:inline-block;
    float:left;
    margin-right:10px;
}
#add-appointment-panel .note1, #add-note-panel .note1 , #edit-note-panel .note1, #add-followup-panel .note1{
    margin-bottom:10px;
}
#add-appointment-panel .note1 textarea, #add-note-panel .note1 textarea , #edit-note-panel .note1 textarea, #add-followup-panel .note1 textarea{
    color:#666;
    width:452px;
    height:120px;
    padding:10px;
    background:#FFF;
    border:1px solid #CCC;
}


/* #pop-application-panel*/
#pop-application-panel{
    width:800px;
}
.pop-tab-panel{
    padding-top:54px;
}
#pop-application-panel .tab-header{
    width:762px;
}
.pop-tab-panel .tab-header{
    position:absolute;
    top:19px;
    left:19px;
    border-bottom:1px solid #CCC;
    height:49px;
    background:#f0f1ee;
    z-index:1;
}
.pop-tab-panel .tab-header h3{
    float:left;
    width:234px;
    padding-left:30px;
    padding-top:14px;
    margin:0;
    font-size:18px;
    font-weight:bold;
    color:#5a1b61;
}
.pop-tab-panel .tab-header ul{
    float:left;
}

.pop-tab-panel .tab-header ul li.show{
    background:url("../images/theme/tab-pop-header-left.png") no-repeat 0 0;    
}
.pop-tab-panel .tab-header ul li.show a{
    background:url("../images/theme/tab-pop-header-right.png") no-repeat 100% 0;    
}

.pop-application-detail{
    
}
.pop-application-detail .left{
    width:178px;
    float:left;
}
.pop-application-detail .left .field{
    margin-bottom:18px;
    font-size:14px;
    color:#5a1b61;
    text-align:right;
    font-weight:bold;
}
.pop-application-detail .right{
    float:right;
    width:450px;
}
.pop-application-detail .right p{
    color:#666;
    padding-top:0;
    font-size:14px;
}
.pop-application-detail .right .purple{
    font-size:14px;
    font-weight:bold;
    color:#8f7092;
}
.simple_overlay .close-txt{
    color:#693e6e;
    font-size:13px;
    font-weight:bold;
    position:relative;
    width:auto;
    background:none;
    height:auto;
}
.simple_overlay .close-txt:hover{
    text-decoration:none;
}
.addservice-btn{
    padding-left:28px;
    background:url("../images/theme/icon-add.png") no-repeat 0 50%;
    font-size:13px;
    font-weight:bold;
    color:#693e6e;
}
.removeservice-btn{
    padding-left:28px;
    background:url("../images/theme/icon-minus.png") no-repeat 0 50%;
    font-size:13px;
    font-weight:bold;
    color:#693e6e;
}

#add-service-panel{
    width:558px;
}
#add-service-panel p{
    margin-top:0;
    padding-top:0;
    font-size:13px;
    padding-bottom:27px;
}
#add-service-panel h3{
    margin-bottom:20px;
}

#thankyou-panel{
    width:634px;    
}
.thankyou-popupbox .body{
    margin:20px;
    background:#FFF;
    padding:40px;
}
.thankyou-popupbox .close-txt{
    padding:5px 10px;
    background:#f2f2f2;
    top:0;
    right:0;
}

.video-popupbox .body {
    width:800px;
    height:450px;
    padding:8px;
    background: none repeat scroll 0 0 #EEEEEE;
}
.video-popupbox .close{
    background: url("../images/theme/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    z-index: 40;
}