body{
    margin:0;
    padding:0;
    font:12px/1.55em Helvetica;
    color:#616365;
}
.center{    
    text-align:center;
}
* { padding:0; margin:0px;}
a img, img {border:0;}
img{vertical-align:top;}
a {text-decoration:none; outline: none;}
a:hover {text-decoration:underline;}
h1, h2, h3, h4, h5, h6 {
    margin-bottom:.6em;
    line-height:1.3em;
}
.bold{
    font-weight:bold;
}
ul{
    list-style-type:none;
    margin:0;padding:0;
}
form{
    padding:0;
    margin:0;
}
h2{
    font-size:28px;
    margin-top:0;
}
h3{
    font-size:33px;
    margin-top:0;    
	color:#fff;
}
h4{
    color:#008dcf;
    font-size:22px;
    margin:0;
    margin-bottom:10px;
}
.font12 h4{
	
    font-size:12px;
}
h5{
	color:#008dcf;
    font-size:17px;
}

h6{
    color: #5B1B63;
    font-size: 16px;
    margin-top:30px;
}
h7{
    color:#fff;
    font-size:22px;
    margin:0;
    margin-bottom:10px;
}
.block1 h6{
    color:#5B1B63;
    font-size:22px;
    margin:0;
    margin-bottom:10px;
}
.home-banner .left-banner h3 {
    color:#fff;
    font-size:22px;
    margin:0;
    margin-bottom:10px;
}
input[type=text], [type=password], textarea, input[type=date]{
    color:#666;
    font-family:Arial;
    font-size:12px;
    border:none;
    /*background-attachment: fixed;*/
}
select{
    color:#666;
    font-family:Arial;
    font-size:12px;
}

p {margin-bottom:10px;margin-top:0}
.clear{
    clear:both;
    height:0;    
}

.out-wrapper{
    background:#FFF url("../images/theme/body-bg.jpg") repeat-x;
    min-height:600px;
}

.floatleft{
    float:left;
}
.floatright{
    float:right;
}


/* header */
.login-container{
    background:url("../images/theme/login-container-bg.png") repeat;
    height:72px;
    margin:auto;
}
.login-layer{
    width:1024px;
    margin:auto;
}
.login-layer ul {
    padding-top:21px;
    margin:auto;
    width:610px;
}
.login-layer ul li{
    line-height:29px;
    margin-right:18px;
    padding-left:30px;
}
.login-layer ul li input{
    background: none;
}
.login-layer ul li.userid{
    background:url("../images/theme/login-user-bg.png") no-repeat;
    width:183px;
    height:29px;
}
.login-layer ul li.pass{
    background:url("../images/theme/login-pass-bg.png") no-repeat;
    width:202px;
    height:29px;
}
.login-layer ul li.onlytext{
    margin:0;
    padding:0;
}
.login-layer ul li.onlytext a{
    padding:0;
}
.top-quick-nav{ 
    position:absolute;
    right:0;
    z-index:50;
    width:100%;
}
.top-quick-nav .tq-inner-top{
    background:url("../images/theme/top-quick-nav-bg.png") repeat-x bottom;
    height: 4px;
    margin-bottom:-4px;
}
.top-quick-nav .tq-inner-center{
    width:1024px;
    margin:auto;
}
.top-quick-nav .tq-inner-center .tq-inner-middle{
    float: right;
}
.top-quick-nav .tq-inner-left{
    background:url("../images/theme/top-quick-left.png") no-repeat 0 0;
    height:25px;
    overflow: hidden;
    width:26px;
    float:left;
    z-index:50;
}
.top-quick-nav .tq-inner{
    background:url("../images/theme/top-quick-right.png") no-repeat 100% 0;
    position:relative;
    height:25px;
    overflow:hidden;
    padding-right:35px;
    float:left;
}
.top-quick-nav ul li{
    float:left;
}
.top-quick-nav ul li a, .top-quick-nav ul li span{
    padding:2px 11px;
    display:block;
    text-decoration:none;
    color:white;
    text-align:center;
    font-size:11px;
    background:url("../images/theme/top-quick-bar.png") no-repeat 100% 50%;
}
.top-quick-nav ul li.last a, .top-quick-nav ul li.last span{
    background:none;
}


.header{
    width:1024px;
    margin:auto;
    position:relative;
    height:156px;
}
.header .logo-bg{
    position:absolute;
    z-index:1;
    width:667px;
    height:167px;
    background:url("../images/theme/header-bg.png") no-repeat 0 0;
    left:-67px;
}
.header .logo{
    top:28px;
    left:67px;
    position:absolute;
    z-index:1;
    width:263px;
    height:41px;
    margin-top: -16px;
}

.main-menu{
    position:absolute;
    z-index:5;
    bottom:20px;
    left:0;
	background:url(../images/theme/maniNav.png) no-repeat;
	font-family:helvetica;
	font-weight:bold;
	font-size:12px;
	width:512px;
	height:42px;
}
.main-menu ul{
    list-style-type:none;
}
.main-menu ul li{
    float:left;
    margin-right:3px;
    margin-top: 2px;

}
.main-menu ul li a{
    text-align:center;
    color:white;
    /*background:url("../images/theme/menu.png") no-repeat 100% 0;*/
    padding:5px 0;
    width:103px;
    height:24px;
    display:block;
    line-height:22px;
}

.main-menu ul .home a{
    text-align:center;
    color:white;
    /*background:url("../images/theme/menu.png") no-repeat 100% 0;*/
    padding:5px 0;
    width:80px;
    height:24px;
    display:block;
    line-height:22px;
}
.main-menu ul li.sel a, .main-menu ul li a:hover{
	color:#451f4a;
/* color:white;
    background:url("../images/theme/menu.png") no-repeat 0 0;*/
    text-decoration:none;
}

.header .slogan{
    position:absolute;
    z-index:5;
    right:0;
    top:50px;
    font-size: 0;
    width:397px;
	height:22px;
    text-align:right;
	background:url(../images/theme/slogan.gif) no-repeat;
}
.header .quick-link{
    background:url("../images/theme/quick-link.png") no-repeat 0 0;
/*    padding-left:7px;*/
    position:absolute;
    z-index:5;
    right:0px;
    bottom:20px;
	width:426px;
    height:36px;
	font-family:helvetica;
	font-weight:bold;
	font-size:12px;
}
.header .quick-link .sel a{
    text-decoration:underline;
}
.header .quick-link .inner{
/*    background:url("../images/theme/quick-link-right.png") no-repeat 100% 0;
    padding-right:7px;*/
    height:33px;

}
.header .quick-link ul{
    list-style-type:none;
}
.header .quick-link ul li{
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 84px
}
.header .quick-link ul li a{
    /*padding:2px 20px;
    border-right:2px solid #2e3c4c;*/
    color:white;
    text-decoration:none;
}
.header .quick-link ul li.last a{
    border-right:none;
}

/*footer */
#footer{
    width:1024px;
    margin:auto;
    position:relative;
    height:60px;
    padding-top:20px;
}
#footer .copyright{
    background:url("../images/theme/icon-home.png") no-repeat 0 50%;
    height:15px;
    padding-top:2px;
    color:#62a5d7;
    font-size:10px;
    padding-left:30px;
    float:left;
}
#footer .copyright ul li{
    float:left;
    padding-right:4px;    
}
#footer .copyright ul li a{
    padding:0px 3px;
    border-left:1px solid #62a5d7;
    color:#62a5d7;
}
#footer .copyright ul li.last a{
    border-right:none;
}
#footer .quick-link{
    float:right;
    width:600px;
}
#footer .quick-link ul{
    list-style-type:none;
    float:right;
}
#footer .quick-link ul li{
    float:left;
}
#footer .quick-link a{
    font-size:10px;
    padding:3px 5px;
    color:#746481;
}

#footer .follow-us {
	background:url("../images/theme/icon-home.png") no-repeat 0 50%;
	padding-left:30px;
	float: left;
}
#footer .follow-us .desc {
	height:15px;
	padding-top:2px;
	padding-right: 10px;
	color:#62a5d7;
	font-size:10px;
	float: left;
}

#footer .follow-us .indeed {
    background:url("../images/theme/sm-indeed.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
#footer .follow-us .facebook {
    background:url("../images/theme/sm-facebook.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
#footer .follow-us .twitter {
    background:url("../images/theme/sm-twitter.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
#footer .follow-us .youtube {
    background:url("../images/theme/sm-youtube.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}

#footer .follow-us-portal {
	float: left;
}
#footer .follow-us-portal .desc {
	height:15px;
	padding-top:2px;
	padding-right: 10px;
	color:#62a5d7;
	font-size:10px;
	float: left;
}

#footer .follow-us-portal .indeed {
    background:url("../images/theme/sm-indeed.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
#footer .follow-us-portal .facebook {
    background:url("../images/theme/sm-facebook.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
#footer .follow-us-portal .twitter {
    background:url("../images/theme/sm-twitter.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
#footer .follow-us-portal .youtube {
    background:url("../images/theme/sm-youtube.jpg") no-repeat 0 0;
    padding-left: 5px;
    height: 24px;
    width: 24px;
    float: left;
}
/* Home banner */
.wrapper{
    min-height:675px;
    margin-bottom:20px;
}
.home-banner{
    width:1041px;
    height:402px;
    margin:auto;
    margin-bottom:15px;
    position:relative;
}
.home-banner .why-choose{
    width:461px;
    height:73px;
    position:absolute;
    left:43px;
    top:22px;

}
.home-banner .home-banner-image{
    position:absolute;
    left:9px;
    bottom:3px;
}
.home-banner .home-banner-desc{
    margin-left:310px;
    margin-top:120px;
    width:287px;
    color:#7f7f7f;
}
.home-banner .service-link{
    position:absolute;
    margin-bottom:38px;
    margin-left:465px;
}
.home-banner .getstarted-link{
    position:absolute;
    margin-bottom:38px;
    margin-left:50px;
}

.home-banner .right-cont{

    margin-top:24px;
    margin-left: 35px;
    margin-right: 35px;
    width:300px;
    height:135px;
}
.home-banner .right-cont p{
    color:#7f7f7f;
}

/* content */
.content{
    width:1024px;
    margin:0 auto;
}

.home-featured{
    width:999px;
    height:208px;
    position:relative;
}
.home-featured .block1{
    width:293px;
    padding:20px 15px;
    background:url("../images/theme/home-featured-split.png") no-repeat 100% 0;
    height:165px;
    float:left;
}
.home-featured .block1 .icon{
    float:left;
    width:68px;
}
.home-featured .block1 .desc{
    float:left;
    width:224px;
}
.home-featured .block1 .desc p{
    color:#7f7f7f;
    margin-bottom:5px;
}

a.arrow{
    padding:3px 0;
    padding-right:15px;
    background: url("../images/theme/learn-more.png") no-repeat scroll 0 0 transparent;
    width: 87px;
    height:13px;
}
a.arrow-back{
    color:#693e6e;
    font-weight:bold;
    font-size:12px;
    padding:3px 0;
    padding-left:15px;
    background:url("../images/theme/arrow-back.png") no-repeat 0 50%;
}

/* Services */
.services-banner{
    width:1029px;
    height:220px;
    margin:auto;
    margin-bottom:20px;
    background:url("../images/theme/home-banner-bg.png") no-repeat 0 100%;
    position:relative;
}

.services-banner .title{
    margin-left: 295px;
    margin-top: 30px;
    position: absolute;
}
.services-banner .box{
    position:absolute;
    bottom:-13px;
    left:42px;
}
.services-banner .desc{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 292px;
    margin-top: 90px;
    position: absolute;
    width: 320px;
}
.services-banner .desc p{
	line-height:19px;
}


.header-services-banner {
    width:1029px;
    height:220px;
    margin:auto;
    margin-bottom:20px;
    background:url("../images/theme/header-banner-service.png") no-repeat 0 100%;
    position:relative;
}

.header-services-banner  .title{
    margin-left: 295px;
    margin-top: 30px;
    position: absolute;
}
.header-services-banner  .box{
    position:absolute;
    bottom:-13px;
    left:42px;
}
.header-services-banner  .desc{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 292px;
    margin-top: 90px;
    position: absolute;
    width: 320px;
}
.header-services-banner  .desc p{
    line-height:19px;
}
/* register*/

.header-main-title{
    width:1029px;
    height:220px;
    margin:auto;
    margin-bottom:20px;
    background:url("../images/theme/header-main-title.png") no-repeat 0 100%;
    position:relative;
}

    
.header-main-title .title{
    margin-left: 295px;
    margin-top: 30px;
    position: absolute;
}
.header-main-title .box{
    position:absolute;
    bottom:-13px;
    left:42px;
}
.header-main-title .desc{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 292px;
    margin-top: 90px;
    position: absolute;
    width: 320px;
}
.header-main-title .desc p{
    line-height:19px;
}

/**/
.reg-panel{
    position:absolute;
    right: 24px;
    top:25px;
    width:343px;
}

.reg-panel .left{
    width:217px;
    float:left;
    padding-top:10px;
}
.reg-panel .right{
    width:151px;
    float:left;
    margin: -31px -51px;
}
.reg-panel .right p{
    color:#7f7f7f;
}

.service-form{
    width:560px;
    padding:20px 205px 0 205px;
}
.service-form .text250, .service-form .text500, .service-form .textarea500{
    margin-bottom:13px;
}
.text250{
    border:none;
    background:url("../images/theme/input250.png") no-repeat 0 0;
    width:249px;
    height:17px;
    padding:5px;
}
.text250 input{
    width:244px;
    background:#FFF;
}

.text500{
    border:none;
    clear:both;
    background:url("../images/theme/input500.png") no-repeat 0 0;
    width:560px;
    height:17px;
    padding:5px;
}
.text500 input{
    width:542px;
    background:#FFF;
}


.textarea500{
    border:none;
    background:url("../images/theme/textarea500.png") no-repeat 0 0;
    width:550px;
    height:206px;
    padding:5px;
}
.textarea500 textarea{
    width:546px;
    height:200px;
    background:#FFF;
}
.textarea250{
    border:none;
    background:url("../images/theme/textarea250.png") no-repeat 0 0;
    width:249px;
    height:206px;
    padding:5px;
}
.textarea250 textarea{
    width:244px;
    height:200px;
    background:#FFF;
    
}


/* side box */
.side-box{
    width:280px;
    height:145px;
    padding:20px;
    background:url("../images/theme/side-box.png") no-repeat 0 0;
    margin-bottom:10px;

}
.side-box .lefticon{
    width:54px;
}
.side-box .lefticon img{
    max-width:41px;
    max-height:41px;
}
.side-box .right-contnt{
    width:216px;
    float:left;
}
.side-box .right-contnt p.spec{
    margin:5px 0;
    color:#7f7f7f;
}
.side-box .right-contnt p{
    color:#7f7f7f;
    margin:15px 0;
}
.side-box h3{
    font-size:18px;
    line-height:20px;
    font-weight:bold;
    color:#5a1b61;
    margin:0;
    margin-bottom:3px;
    
}

/* side box 2*/
.side-box-2{
	width:280px;
	height:145px;
	padding:20px;
	background:url("../images/theme/side-box.png") no-repeat 0 0;
	margin-bottom:10px;

}
.side-box-2 .lefticon{
	width:75px;
	float:left;
}
.side-box-2 .lefticon img{

}
.side-box-2 .right-contnt{
    float: left;
    margin-top: -25px;
    width: 205px;
}
.side-box-2 .right-contnt p{
	margin:5px 0;
	color:#7f7f7f;
}
.side-box-2 h3{
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	color:#5a1b61;
	margin:0;
	margin-bottom:3px;	
}      
.register-now {
    background:url("../images/theme/reg-now.png") no-repeat 0 0;
    width:111px;
    height:29px;
    display: block;
}
/* Services */
.partner-banner{
    width:1041px;
    height:220px;
    margin:auto;
    margin-bottom:15px;
    background:url("../images/theme/home-banner-bg.png") no-repeat 0 100%;
    position:relative;
    
}

.partner-banner .title{
    position:absolute;
    left:180px;
    top:25px;
    z-index:5;
}
.partner-banner .box{
    position:absolute;
    bottom:11px;
    left:9px;
    z-index:1;
}
.partner-banner .desc{
    color:#666;
    font-size:14px;
    line-height:20px;
    width:376px;
    position:absolute;
    left:220px;
    top:75px;
}

.right-panel{
    width:306px;
    background:url("../images/theme/right-panel-border.png") repeat-y;
    position:relative;
    margin-bottom:46px;
    padding:0px 8px;
    margin-left:25px;
}
.right-panel .right-panel-bottom{
    position:absolute;
    bottom:-26px;
    left:0;
    width:320px;
    height:26px;
    background:url("../images/theme/right-panel-bottom.png") no-repeat 0 100%;
}
.right-panel .right-panel-inner{
    width:266px;
    padding:20px;
    background:#FFF url("../images/theme/right-panel-inner.png") no-repeat 0 100%;    
}
.right-panel .short-panel-inner{
    background:#FFF url("../images/theme/right-panel-inner1.png") no-repeat 0 100%;
}

.partner-container{
    width:560px;
    margin: 0 auto;
}
.partner-container .company{
    float:left;
    width:260px;
    min-height: 225px;
    padding-right:20px;    
    margin:10px 0 15px;
}
.partner-container .company .thumb{
    float:left;
    height: 160px;
    width:160px;
}
.partner-container .company .thumb img{
    max-width:150px;
    max-height:150px;
}
.partner-container .company .companyname{
    margin-left:18px;
    width:150px;
    /*height:90px;*/
    display:table-cell;
    vertical-align:middle;
    padding-left:10px;
    position:relative;
}

.partner-container .company .companyname .cname-inner{
    /*position: absolute;
    top: 50%;*/
    display: table-cell; 
    vertical-align: middle;
}

.partner-container .company .companyname span{
    color:#5a1b61;
    font-size:12px;
    font-weight:bold;
    /*position: relative;
    top: -50%*/
    
}

.partner-form .text250{
    margin-bottom:20px;
}
.partner-form select{
    width:180px;
}
.benefit-content-layout {
    padding: 35px 13px;
}
.benefit-content-layout .left-imgcont{
    float:right;
    position:relative;
    border:3px solid #ccc;
    margin: 0 0 32px 36px;
}
.benefit-content-layout .left-imgcont img{
    position:relative;
}
.benefit-content-layout .right-imgcont{
    float:left;
    width:200px;
    position:relative;
    text-align:right;
}
.benefit-content-layout .right-imgcont img{
    right:-31px;
    position:relative;
}
.benefit-content-layout .right-cntcont{
    
    position:relative;
}

.benefit-content-layout .left-cntcont{
    width:375px;
    float:left;
    position:relative;    
}
.benefit-content-layout p{
    margin-bottom:25px;
    line-height:20px;
    font-size:12px;
}


.benefit-rightbox{
    padding:10px 0;
    border-bottom:1px dotted #CCC;
}
.benefit-rightbox a{
    color:#5A1B61;
    text-decoration:none;
    font-weight:bold;
    font-size:12px;
}


/* portal parts */
.banner-title{
    font-size:18px;
    font-weight:bold;
    color:#5a1b61;
    margin-bottom:30px;
    background:#FFF;    
    position:relative;
}
.clientlist-title h2{
    margin:0;
    background:url("../images/theme/icon-client.png") no-repeat 0 0;
    padding:15px 0 15px 68px;
    line-height:19px;
    font-size:18px;
}
.clientlist-title .arrowlink{
    position:absolute;
    right:28px;
    top:14px;
}

/* buttons */
.purple-btn{
    background:url("../images/theme/pbtn-left.png") no-repeat 0 0;
    padding-left:10px;
    height:28px;
    display:inline-block;
}
.purple-btn a{
    text-decoration:none;
    background:url("../images/theme/pbtn-right.png") no-repeat 100% 0;
    font-size:12px;
    font-weight:bold;
    padding:4px 10px 4px 0;
    color:#FFF;
    display:block;    
}
.purple-btn a:hover{
    text-decoration:none;
}

.gray-btn{
    background:url("../images/theme/gbtn-left.png") no-repeat 0 0;
    padding-left:10px;
    height:28px;
    display:inline-block;
}
.gray-btn a{
    text-decoration:none;
    background:url("../images/theme/gbtn-right.png") no-repeat 100% 0;
    font-size:12px;
    font-weight:bold;
    padding:4px 10px 4px 0;
    color:#5b1b63;
    display:block;    
}
.gray-btn a:hover{
    text-decoration:none;
}
.search-box{
    
}
.search-box .s-input{
    width:180px;
    float:left;
    background:url("../images/theme/search-bg.png") no-repeat 0 0;
    height:30px;
}
.search-box .s-input input{
    border:none;
    background:transparent;
    padding:6px 5px;
    width:168px;
    color:#7f7f7f;
}
.search-box .s-btn{
    float:left;
    padding-top:1px;
}
.top-search-container{
    padding:20px 30px;
    display:block;
    width:964px;
}
.top-search-container .left{
    width:400px;
    float:left;
}
.top-search-container .search-box{
    float:right;
    width:260px;
}
.top-search-container .gray-btn{
    margin-left:10px;
}
/*list table*/
.list-type-1{
}
.list-type-1 table{
    width:100%;
    text-align:left;
}
.textleft{
    text-align:left !important;
}
.list-type-1 table th{
    font-size:12px;
    font-weight:bold;
    color:#5a1b61;
    border-bottom:1px solid #d6d6d6;
}
.purple{
    color:#5a1b61 !important;
}
.list-type-1 table td{
    text-align:center;
    border-bottom:1px solid #d6d6d6;
    border-left:1px solid #d6d6d6;
    vertical-align:top;
}
.list-type-1 table td.first{
    border-left:none;
}

.tab-cont-header{
    height:54px;
    background:#f4f4f4;
    border-bottom:1px solid #cfcfcf;
    position:relative;
}
.tab-cont-header h3{
    display:inline-block;
    color:#5a1b61;
    font-size:23px;
    margin:0;
    padding-left:40px;
    padding-top:12px;
}
.tab-cont-header .tab-header-list{
    left:270px;
    position:absolute;
    top:5px;
}
.tab-cont-header .tab-header-list ul li{
    float:left;
    height:50px;
    padding-left:14px;
}
.tab-cont-header .tab-header-list ul li a{
    color:#5a1b61;
    font-size:12px;
    font-weight:bold;
    display:block;
    padding:18px 25px 18px 10px;
}
.tab-cont-header .tab-header-list ul li.sel{
    background:url("../images/theme/tab-header-left.png") no-repeat 0 0;
}
.tab-cont-header .tab-header-list ul li.sel a{
    background:url("../images/theme/tab-header-right.png") no-repeat 100% 0;
    padding:18px 25px 13px 10px;
    line-height:20px;
}

.light-blue{
    color:#008dcf;
    font-size:14px;
    font-weight:bold;
    display:inline-block;
}
.general-info{
    margin-bottom:20px;
}
.general-info h4{
    color:#5a1b61;
    font-size:18px;
    margin:0;
    margin-bottom:10px;
}
.general-info .left{
    width:290px;
    float:left;
}
.general-info .right{
    float:left;
    width:290px;
}
.general-info .purple{
    display:block;
    margin-bottom:20px;
}
.general-info .light-blue{
    display:block;
    margin-bottom:3px;
}
.short-note-title{
    margin-bottom:10px;
}
.short-note-title h4{
    float:left;
}
.short-note-title .gray-btn{
    float:right;
}
.client-short-note .block-note{
    border:1px solid #cccccc;
    padding:25px 30px;
    margin-bottom:30px;
    background:#FFF;
}
.client-short-note .block-note p{
    color:#7f7f7f;
    font-size:12px;
}
.side-box1{
    background:url("../images/theme/side-box1.png") no-repeat 0 100%;
    width:284px;
    height:56px;
    padding:13px 18px;
}
.portal-right .right-panel{
    margin-left:5px;
}
.portal-right .side-box1{
    margin-left:5px;
}
.block-req-services{
    margin-bottom:20px;
}
.block-req-services .con1{
    padding-left:35px;
    color:#7f7f7f;
}
.application-detail .left{
    float:left;
    width:325px;
}
.application-detail .right{
    float:right;
    width:250px;
}
.selected-services li{ 
    background:url("../images/theme/list-bullet1.png") no-repeat 0 8px;
    padding-left:10px;
    color:#008dcf;
    font-size:14px;
    margin-bottom:22px;
}
.selected-services li ul{
    padding-left:20px;
}
.selected-services li ul li{
    background:url("../images/theme/list-bullet2.png") no-repeat 0 50%;
    padding-left:10px;
    margin-bottom:5px;
}
.big-calendar{
    padding-top:30px;
    position:relative;
}
.big-calendar .calendar-selector{
    position:absolute;
    right:30px;
    top:40px;
}
.big-calendar .calendar-selector select{
    color:#5a1b61;
    width:140px;
}
.side-box1-container .side-box1{
    height:auto;    
    padding:0 8px 20px;
    width:306px;
    
}
.side-box1-container .side-box1 .b1-inner{
    padding:22px 23px 2px;
    background:#FFF;
    margin-bottom:20px;
    min-height:10px;
}
.calendar-add-events{
    margin-bottom:20px;
}
.calendar-heading{
    background:url("../images/theme/icon-calendar.png") no-repeat 0 50%;
    color:#5a1b61;
    font-size:18px;
    padding-left:39px;
    height:31px;
    line-height:32px;
    margin-bottom:0;
}
.appoint-heading{
    background:url("../images/theme/icon-note.png") no-repeat 0 50%;
    color:#5a1b61;
    font-size:18px;
    padding-left:50px;
    margin-bottom:18px;
    line-height:52px;
}

.side-calendar-list{
    clear:both;
    display:inline-block;
}
.side-calendar-list ul li{
    line-height:18px;
    width:49%;
    float:left;
}
.side-calendar-list ul li a{
    color:#5a1b61;
    font-weight:bold;
    font-size:14px;
    
}
.side-appoint-list ul li{
    margin-bottom:20px;
    
}
.side-appoint-list .date{
    font-weight:bold;
    color:#5a1b61;
    font-size:14px;
}
.side-appoint-list .time{
    font-weight:bold;
    color:#7f7f7f;
}
/*Dashboard */
.upcoming-appoint{
    padding-left:6px;
}
.upcoming-appoint h4{
    font-size:18px;
    margin:0;
    margin-bottom:10px;
}
.upcoming-appoint .box{
    width:246px;
}
.upcoming-appoint .box .bt{
    width:246px;
    height:18px;
    background:url("../images/theme/calendar-box-top.png") no-repeat 0 0;
}
.upcoming-appoint .box .bi{
    background:url("../images/theme/calendar-box-bottom.png") no-repeat 0 100%;
    padding-bottom:8px;
}
.upcoming-appoint .box .bb{
    background:url("../images/theme/calendar-box-body.png") repeat-y;
}
.upcoming-appoint .dash-appointment-list{
    margin:0 8px;
    background:url("../images/theme/calendar-box-inner-body.png") repeat-y;
    color:#7f7f7f;
}
.upcoming-appoint .dash-appointment-list .date{
    font-weight:bold;
    color:#5a1b61;
    font-size:14px;
}
.upcoming-appoint .dash-appointment-list li{
    border-bottom:1px solid #333;
    padding:6px 13px;
}
.upcoming-appoint .dash-appointment-list li.last{
    border:none;
}
.upcoming-appoint .viewall{
    text-align:right;
    padding:10px 10px 0 0;
}
.upcoming-appoint .viewall a{   
    color:#5a1b61;
    font-weight:bold;
}
.dash-contact-list li{
    margin-bottom:20px;
    color:#7f7f7f;
    font-size:12px;
}
.dash-contact-list li h5{
    color:#5a1b61;
    font-size:14px;
    margin:0;
}
.dash-board-left{
    width:690px;
    float:left;
}
.dash-inner-padding{
    padding:30px;
}

.dash-latest-news{   
    margin-bottom:20px;
    border-bottom:1px solid #CCC;
    background: #FFF;
}
.dash-latest-news ul li{
    border-bottom:1px solid #CCC;
    padding:10px 0;
}
.dash-latest-news ul li.last{
    border:none;
}
.dash-latest-news .date{    
    font-size:12px;
    color:#5a1b61;
}
.dash-latest-news .date span.split{
    color:#777777;
}
.dash-latest-news .title{
    font-weight:bold;
    color:#008dcf;
}
.dash-latest-news p{
    line-height:18px;
    margin-bottom:3px;
}
.dash-client-table{
    
}
.dash-client-table table{
    width:100%;
    text-align:center;
    border-bottom:1px solid #CCC;
}
.dash-client-table th{
    color:#5a1b61;
    font-weight:bold;
    font-size:12px;
}
.dash-client-table td{
    border-top: 1px solid #CCC;
    border-right:1px solid #CCC;
}
.dash-client-table td.last{
    border-right:none;
}

/*client portal */

.about-us-title h3{
    background:url("../images/theme/icon-about.png") no-repeat 0 0;
    padding-left:68px !important;
}
.contact-us-title h3{
    background:url("../images/theme/icon-mail.png") no-repeat 0 0;
    padding-left:68px !important;
}
.resources-title h3{
    background:url("../images/theme/icon-resources.png") no-repeat 0 0;
    padding-left:68px !important;
}
.faq-title h3{
    background:url("../images/theme/icon-faq.png") no-repeat 0 0;
    padding-left:68px !important;
}
.checklist-title h3{
    background:url("../images/theme/icon-checklist.png") no-repeat 0 0;
    padding-left:68px !important;
}
.partners-title h3{
    background:url("../images/theme/icon-briefcase.png") no-repeat 0 0;
    padding-left:68px !important;
}
.process-title h3{
    background:url("../images/theme/icon-refresh.png") no-repeat 0 0;
    padding-left:68px !important;
}


.block-content1{
    padding:50px 30px;
}
.block-content1 p{
    line-height:22px;
}
.about-us-image-part .left{
    width:353px;
    float:left;
}
.about-us-image-part .right{
    width:580px;
    float:right;
}

/*checklist*/
.checklist{
    
}
.checklist-head{
    background:url("../images/theme/checklist-top.png") repeat-x 0 0;
    height:31px;
    position:relative;
    margin:-1px -1px 0 -1px;
}
.checklist-head .title{
    font-size:11px;
    color:#FFF;
    margin-left:70px;
    padding-top:5px;
    
}
.checklist-head .icon-help{
    position:absolute;
    right:20px;
    top:3px;
    
}
.checklist-head .icon-help a{
    display:block;
    background:url("../images/theme/icon-question.png") no-repeat 100% 50%;
    padding:3px 27px 3px 0;
    line-height:16px;
    font-size:11px;
    color:#FFF;
}
.checklist ul li{
    background:#f6f9f5 url("../images/theme/checklist-bg.png") repeat-y 0 0;
    border-bottom:1px solid #CCC;
    font-size:12px;
    font-weight:bold;
    color:#7f7f7f;
    padding:14px 0;
    position:relative;
    display:block;
    margin:0;
    width:100%;
    float:left;
    
}
.checklist ul li ul li{
    width:100%;
    float:none;
    clear:both;
}
.checklist ul li .chk-box{
    width:55px;
    float:left;
    padding-left:18px; 
}
.checklist ul li .chk-box input[type=checkbox]{
    vertical-align:middle;
    margin:0;
}
.checklist ul li .desc{
    width:638px;
    float:left;
    position:relative;
}
.checklist ul li .desc a{
    color:#45204b;
    text-decoration:underline;
    font-weight: bold;
}
.checklist ul li.more{
    border-bottom:0;
    padding-bottom:0;
}
.checklist ul li.more .chk-box a{
    display:block;
    padding-top:3px;
}

.checklist ul li ul{
    margin-top:14px;
    border-top:1px solid #ccc;
    display:block;
}
.checklist ul li ul li .desc{
    padding-left:38px;
    width:600px;
}
.checklist .see-option{
    padding:8px 20px;
    position:absolute;
    top:6px;
    right:3px;
    background:#eaece9;
}
.checklist .see-option a{
    background:url("../images/theme/checklist-arrow.png") no-repeat 100% 50%;
    padding:1px 15px 3px 5px;
    color:#45204b;
    font-weight:bold;
}

.checklist .see-option-nolb {
    padding:8px 20px;
    position:absolute;
    top:6px;
    right:3px;
    background:#eaece9;
}
.checklist .see-option-nolb a{
    background:url("../images/theme/checklist-arrow.png") no-repeat 100% 50%;
    padding:1px 15px 3px 5px;
    color:#45204b;
    font-weight:bold;
}
.side-box2{
    border:1px solid #CCC;
    background:#f7f8f8;
    padding:20px 30px;
    margin-bottom:25px;
}
.side-phonenum{
    background:url("../images/theme/icon-phone.png") no-repeat 0 0;
    height:30px;
    padding:12px 10px 0px 62px;
    color:#634785;
    font-size:18px;
    font-weight:bold;
    line-height:22px;
}
.side-box2 h3{
    font-size:18px;
    font-weight:bold;
    line-height:22px;
    color:#634785;
}
.checklist-features ul li{
    padding-left:38px;
    
}
.checklist-features ul li a{
    font-size:12px;
    color:#7f7f7f;
    text-decoration:none;
}
.checklist-features ul li a:hover{
    text-decoration:none;
}
.checklist-features ul li.plus{
    background:url("../images/theme/icon-plus.png") no-repeat 3px 5px;
}
.checklist-features ul li.minus{
    background:url("../images/site/icon-x.png") no-repeat 3px 5px;
}
.checklist-features ul li.check{
    background:url("../images/theme/icon-check.png") no-repeat 3px 5px;
}
.checklist-features ul li.edit{
    background:url("../images/theme/icon-edit.png") no-repeat 3px 5px;
}
.checklist-features ul li.cursor{
    background:url("../images/theme/icon-cursor.png") no-repeat 3px 5px;
}
.checklist-features ul li .note{
    font-size:10px;
    color:#634785;
}
.checklist-selservices ul li{
    background:url("../images/theme/bullet-point-blue.png") no-repeat 0 50%;
    padding:2px 0px 0px 15px;
}

/* tab content*/

.tab-header{
    height:54px;
}
.tab-header ul{
}
.tab-header ul li{
    float:left;
    height:50px;
    padding-left:14px;
}
.tab-header ul li.show{
    background:url("../images/theme/tab-header-left.png") no-repeat 0 0;    
}
.tab-header ul li.show a{
    background:url("../images/theme/tab-header-right.png") no-repeat 100% 0;
    padding:18px 25px 13px 10px;
    line-height:20px;
}
.tab-header ul li a{
    color:#5a1b61;
    font-size:12px;
    font-weight:bold;
    display:block;
    padding:18px 25px 18px 10px;
}
.tab-header ul li a:hover{
    text-decoration:none;
}
.tab-content{
    display:none;
    padding:10px;
}
.tab-content-cont .show{
    display:block !important;
}
.faq-list{
}
.faq-list ul li{
    padding:15px 0 5px;
    border-bottom:1px solid #ccc;
}
.faq-list h4{
    font-size:17px;
    margin:0;
}
.client-partner-list{
    
}
.client-partner-list ul li{
    padding:15px 0 5px;
    border-bottom:1px solid #ccc;
}
.client-partner-list h4{
    font-size:17px;
    margin:0;
}

.client-partner-list .left{
    width:450px;
    float:left;
}
.client-partner-list .right{
    width:450px;
    float:right;
}
.client-partner-list .client-logo{
    width:150px;
    float:left;
    padding-right: 10px;
}
.client-partner-list .client-desc{
    float:left;
    width:275px;
}
.resource-list{
    padding:10px 0 20px;
    min-height:500px;
}
.resource-list ul li{
    float:left;
    width:317px;
    margin-bottom:20px;
}
.resource-list ul li a{
    font-size:14px;
    color:#1c1c1c;
    padding-left:60px;
    line-height:50px;
    display:block;
}

.block-pop-profile{
    margin-top:10px;
    font-size:14px;
    color:#5a1b61;
    line-height:30px;
    font-weight:bold;
}
.simple_overlay .block-pop-profile h3{
    font-size:22px;
    margin-bottom:10px;
    color:#5a1b61;
    font-weight:bold;
}
.block-pop-profile .left{
    width:260px;
    padding-left:68px;
    float:left;
}
.block-pop-profile .right{
    float:right;
    width:322px;
}
.block-pop-profile label{
    display:block;
    font-size:14px;
    color:#5a1b61;
    line-height:16px;
}
.block-pop-profile input[type=text]{
    width:250px;
    border:1px solid #CCC;
    padding:3px;
    margin-bottom:13px;
}
.partner-dashboard-news{
    margin-bottom:27px;
    padding:20px 30px 10px 30px;
    background:white;
    border-bottom:1px solid #CCC;
}
.partner-dashboard-news h3{
    font-size:18px;
    color:#5a1b61;
    margin:0;
    margin-bottom:10px;
}
.partner-dashboard-news ul li{
    width:450px;
    float:left;
    padding:15px 0;
    border-bottom:1px solid #CCC;
}
.partner-dashboard-news ul li.odd{
    margin-right:30px;
}
.partner-dashboard-news ul li.last{
    border:none;
}
.partner-dashboard-news .date{
    color:#5a1b61;
    font-size:12px;
}
.partner-dashboard-news .date span{
    color:#CCC;
}
.partner-dashboard-news h5{
    color:#008dcf;
    font-size:12px;
    margin:2px 0;
}
.partner-dashboard-clients{
    padding:26px;
}

.ui-datepicker {
background: white;
}

.left-banner  {
    float:left;
    background:url(../images/theme/hero.png);
    width:641px;
    height:398px;
    color:#fff;       
}

.left-banner  .title{
    margin-left:372px;
    margin-top:47px;
    text-align: right;
    width:240px;
}
    
.left-banner .desc {
    margin-left: 380px;
    text-align: right;
    margin-top: 15px;
    width: 236px; 
}
.left-banner  .small-buttons{
    margin-left: 510px;
    margin-top:  30px;
    text-align:  right;
    width:240px;
}
.left-banner  .small-buttons a {
    text-decoration: none;
}
.small-button {
    background:url(../images/theme/small-button.png);
    width:27px;
    height:27px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-left:7px;
    float:left;
}
.right-banner  {
    float:right;
    background:url(../images/theme/reg-side-bar.png);   
    width:389px;
    height:398px;
}
.get-start-button {
    margin-left:35px;
    margin-top:15px;
    width:115px;
    height:33px;
    background:url(../images/theme/get-start-button.png);
}
.sponsers-button {
    margin-left:35px;
    margin-top:130px;
    width:115px;
    height:33px;
    background:url(../images/theme/sponser.png);
}
.soldier_image {
    background: url("../images/theme/soldier.png") repeat scroll 0 0 transparent;
    height: 264px;
    margin-left: 195px;
    margin-top: 153px;
    position: absolute;
    width: 209px;
}
.logoList{
    width:100%;
    height:75px;
    margin-top:14px;
}
.logoList li {
    float:left;
}

