<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>$this.name</title>
	<base href="$ctx.base" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<meta name="author" content="TODO: author" />
	<link rel="stylesheet" href="$ctx.siteUrl/css/style.css" type="text/css" />
	 
	<meta name="keywords" content="TODO: keywords" /> 
	<meta name="description" content="TODO: desctiption ...." />
	
	 
	<link rel="stylesheet" href="$ctx.siteUrl/js/jquery/css/smoothness/jquery-ui-1.8.9.custom.css"type="text/css" />
	<script type="text/javascript" src="$ctx.siteUrl/js/jquery/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="$ctx.siteUrl/js/jquery/js/jquery-ui-1.8.9.custom.min.js"></script>
	#foreach($css in $ctx.get('head:css'))
	<link rel="stylesheet" href="$ctx.siteUrl/$css" type="text/css" media="screen" />
	#end
	
	#foreach($script in $ctx.get('head:scripts'))
	<script src="$ctx.siteUrl/$script" type="text/javascript"></script>
	#end
</head>
<body>
<div style="">templates/default/base.html</div>
<div> --- body --- </div>
	<div id="page">
		<div id="content" style="width:800px; margin: 0 auto;">
		${BODY}
		</div>
	</div>
<div> --- /body --- </div>
</body>
</html>