<link rel="stylesheet" type="text/css" href="$ctx.siteUrl/js/admin/treegrid/treegrid.css" rel="stylesheet" />

<script type="text/javascript" src="$ctx.siteUrl/js/admin/treegrid/TreeGridSorter.js"></script> 
<script type="text/javascript" src="$ctx.siteUrl/js/admin/treegrid/TreeGridColumnResizer.js"></script> 
<script type="text/javascript" src="$ctx.siteUrl/js/admin/treegrid/TreeGridNodeUI.js"></script> 
<script type="text/javascript" src="$ctx.siteUrl/js/admin/treegrid/TreeGridLoader.js"></script> 
<script type="text/javascript" src="$ctx.siteUrl/js/admin/treegrid/TreeGridColumns.js"></script> 
<script type="text/javascript" src="$ctx.siteUrl/js/admin/treegrid/TreeGrid.js"></script> 

<script type="text/javascript" src="$ctx.siteUrl/js/admin/browse-cmp.js"></script>