<!DOCTYPE HTML>
<html>

<head>
  <title>$this.name</title>
  <base href="$ctx.base" />
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="$ctx.siteUrl/style/style.css" />
  
  <link rel="stylesheet" href="$ctx.siteUrl/js/jquery/css/smoothness/jquery-ui-1.8.9.custom.css"type="text/css">
	
	<script type="text/javascript" src="$ctx.siteUrl/js/jquery/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="$ctx.siteUrl/js/jquery/js/jquery-ui-1.8.9.custom.min.js"></script>
</head>

<body>
<div style="width: 990px; margin: 0px auto;">
<div id="main">
    #parse('header.html')
    <div style="background: white; width: 978px; margin: 0px auto; padding: 5px; border: solid #ccc 1px;">
  	#evaluate(${BODY})
  	</div>
   	#parse('footer.html')
</div>
</div>
</body>
</html>
