
<script type="text/javascript">
<!--
Ext.onReady(function(){

    var tree = new Ext.tree.TreePanel({
        useArrows: true,
        autoScroll: true,
        animate: true,
        enableDD: true,
        containerScroll: true,
        border: false,
        // auto create TreeLoader
        dataUrl: '$ctx.siteUrl/admin/getNodes.ajax',

        rootVisible: false,
        
        root: {
            nodeType: 'async',
            text: 'JCR Content Repository',
            draggable: false,
            id: 'root'
        }
    });

    // render the tree
    tree.render('tree-div');
    tree.getRootNode().expand();

    var menuC = new Ext.menu.Menu();
    menuC.add(
    	new Ext.menu.Item({
        	text: 'Create New Node', 
        	handler: function() {
        		var pid=menuC.node.id;
        		document.location.href='$ctx.siteUrl/admin/createNode.do?pid='+pid;
        	}
    	}),
    	new Ext.menu.Separator(),
    	new Ext.menu.Item({
        	text: 'Rename',
        	handler: function() {
        		alert("TODO:");
    		}
        }),
    	new Ext.menu.Separator(),
        new Ext.menu.Item({
            text: 'Edit', 
            handler: function() {
    			alert("TODO:");
			}
		}),
        new Ext.menu.Item({
            text: 'Delete',
            handler: function() {
            	var node = menuC.node;
            	var name = node.attributes.text;
            	var id = node.id;
    			Ext.Msg.confirm(
    	    			'Confirm delete',
    	    			'Are you sure you want to delete "'+name+'" node',
    	    			function(btn) {
        	    			if(btn=='yes') {
								jQuery.getJSON('deleteNode.ajax', {id: id}, function(r) {
									if(r.msg == 'OK') {
										node.remove(true);
									} else {
										alert(r.msg + '\n\n' + r.error);
									}
								});
        	    			}
        	    		}
        	    );
			}
        })
    );
    
    tree.on('contextmenu', function(node) {
    	menuC.node = node;
    	if('property'==node.attributes.cls) {
    	} else {
    		menuC.show(node.ui.getAnchor());
    	}
    });
});
//-->
</script>
<style>
<!--
#tree-div .x-tree-node {
	
}
-->
</style>
<div id="tree-div"></div>