 <div id="sidebar_container">
  <div class="sidebar">
    <div class="sidebar_top"></div>
    <div class="sidebar_item">
      <!-- insert your sidebar items here -->
      <h3>Latest News</h3>
      #foreach($v in $ext.news.list)
      <h4>$v.name</h4>
      <h5>$ext.utils.formatDate($v.jcrCreated, 'dd/MM/yyyy')</h5>
      <p>$v.introText<br /><a href="$ctx.siteUrl/$v.path">Read more</a></p>
      #end
      
      <div style="text-align: right;">
	      <a href="$ctx.siteUrl/News">View All</a>
      </div>
    </div>
    <div class="sidebar_base"></div>
  </div>
  <div class="sidebar">
    <div class="sidebar_top"></div>
    <div class="sidebar_item">
      <h3>Useful Links</h3>
      <ul>
      #renderMenu("links" "<li>" "</li>")
      </ul>
    </div>
    <div class="sidebar_base"></div>
  </div>
  #*
  <div class="sidebar">
    <div class="sidebar_top"></div>
    <div class="sidebar_item">
      <h3>Search</h3>
      <form method="post" action="#" id="search_form">
        <p>
          <input class="search" type="text" name="search_field" value="Enter keywords....." />
          <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
        </p>
      </form>
    </div>
    <div class="sidebar_base"></div>
  </div>
  *#
</div>