#regionA{
	width:635px;
	float:left;
}

#regionA #region-top         { width:635px; height:15px;  }
#regionA #region-top-begin   { width:25px; height:15px;    background:url(../images/theme/region-top-begin.png)  no-repeat;           float:left;}
#regionA #region-top-end     { width:610px; height:15px;   background:url(../images/theme/region-top-end.png)    no-repeat 100% 0px;  float:left;}

#regionA #region-left    { width:14px;   background:url(../images/theme/region-left.png)  repeat-y; float:left;}
#regionA #region-main    { width:607px;  background:url(../images/theme/regionA1-main.png)  repeat-x; float:left;}
#regionA #region-right   { width:14px;   background:url(../images/theme/region-right.png) repeat-y; float:left;}
#regionA #region-down    { width:635px; height:25px;   }
#regionA #region-down-begin    { width:25px;  height:25px;  background:url(../images/theme/region-down-begin.png)  no-repeat;           float:left;}
#regionA #region-down-end      { width:610px; height:25px;  background:url(../images/theme/region-down-end.png)    no-repeat 100% 0px;  float:left;}
#regionA #region-content { width:635px; }

#regionB{
    width:370px;
    float:right;
}


