<div class="reg-panel"> 
            <div style="font-size:24px;padding-top:5px;padding-bottom:5px;color:#5b1b63;"><b>Register Now</b></div>
            <div class="left"> 
                                    <p>
Registration is easy and free! When you become a Housing 1 Source<sup>TM</sup> client, you will get a Personal Relocation Specialist, a customized online... </p>

                                    <div><a href="register.html"><img src="../images/site/get-started-btn.png" /></a></div> 
            </div> 
            <div class="right">
                    <img src="../images/theme/reg-win-small.png" /> 
            </div> 

            <div class="clear"></div> 
        </div>       