<table width="100%">
	<tr>
		<td valign="top">
			<h2>EXTENSIONS</h2>
			<ul>
			#foreach($ext in $extensions)
				<li>${ext}</li>
			#end
			</ul>
		</td>
		<td valign="top">
		<p>
		<h3>Actions</h3>
		<ul>
			#foreach($a in $actions)
			<li>${a}.do</li>
			#end
		</ul>
		</p>

		<p>
		<h3>Ajax</h3>
		<ul>
			#foreach($a in $ajaxActions)
			<li>${a}.ajax</li>
			#end
		</ul>
		</p>
		</td>
	</tr>
</table>

<div>Session pool size: $sessionPoolSize</div>
<div>
Busy Sessions:
<ul>
	#foreach($session in $busySessions.keySet())
		<li> - $busySessions.get($session): $session</li>
	#end
</ul>
</div>