<div id="footer"> 

	<div class="follow-us"> 
		<span class="desc">Copyright  &copy; 2011 Housing 1 Source&trade;</span>
		<a href="http://www.facebook.com/Housing1Source" class="facebook" target="_new"></a>
		<a href="http://www.twitter.com/housing1source" class="twitter" target="_new"></a> 
        <a href="javascript:void(0)" class="youtube" rel="#YouTubeVideo"></a> 
	</div> <!--followus--> 
	<div class="quick-link"> 
		
		<ul> 
			<li> <a href="home.html">Home</a> </li> 
			<li> <a href="our-services.html">Our Services</a> </li> 
			<li> <a href="qualifications.html">Do I Qualify?</a> </li> 
			<li> <a href="register-sponsor.html">Sponsor</a> </li> 
			<li> <a href="benefits.html">Your Benefits</a> </li> 
			<li> <a href="providers/browse/san-antonio.html">Our Providers</a> </li> 
			<li> <a href="faq.html">FAQ</a> </li> 
			<li> <a href="https://www.housing1source.com/$pagepath/about-us">About Us</a> </li> 
			<li> <a href="contact.html">Contact</a> </li>
			<li> <a href="javascript:void(0)" rel="#privacy_policy">Privacy Policy</a> </li>
		</ul> 
			
 
	</div> 
	<div class="clear"></div> 
</div> <!-- #footer -->	