.html .x-tree-node-icon {
	background-image: url("icons/html.png");
}

.css .x-tree-node-icon {
	background-image: url("icons/css.png");
}

.png .x-tree-node-icon {
	background-image: url("icons/image.png");
}
.jpg .x-tree-node-icon {
	background-image: url("icons/image.png");
}
.gif .x-tree-node-icon {
	background-image: url("icons/image.png");
}